---
const { data } = Astro.props;
---

<article>
    <img src = `https://uxndprtzubwvqmyzoljl.supabase.co/storage/v1/object/public/lineup/${data.id}.jpeg`;>
    <!-- använd bild, gör grid, klickbar till singelview, som kommer se ut som nedanför -->
    <h2>{data.name}</h2>
    <p>{data.description}</p>
    <dl>
        <dt>Location</dt>
        <dd>{data.location}</dd>
        <dt>Date</dt>
        <dd>{data.date}</dd>
        <dt>More from the artist</dt>
        <dd><a href={data.spotify}>Spotify</a></dd>
    </dl>
</article>

<style>
    article{
        color: white;
    }
</style>